In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

In [2]:

plt.rc('font', family='NanumBarunGothic')
font_location = 'C:/Windows/Fonts/MALGUNSL.TTF'  # for windows
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

In [3]:
%matplotlib inline

import matplotlib as mpl

mpl.rc('axes', labelsize=16)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

In [4]:
df = pd.read_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\Data Visualization\서울특별시 공공자전거 일별 대여건수_22.01-22.06.csv',encoding = 'cp949')

In [5]:
df['대여일시'] = pd.to_datetime(df['대여일시'])

In [15]:
#df['요일'] = \
df['월'] =df['대여일시'].dt.month
df['요일']= df['대여일시'].dt.day_name

In [7]:
df['월'] = df['월'].astype(str)

In [8]:
df['대여건수'] = df['대여건수'].str.replace(' ','').str.replace(',','')

In [9]:
df['대여건수'] = df['대여건수'].astype(float)

In [10]:
df_month = df.groupby('월').mean()

In [11]:
df

          대여일시     대여건수  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5    월
0   2022-01-01  29185.0         NaN         NaN         NaN         NaN  1.0
1   2022-01-02  28914.0         NaN         NaN         NaN         NaN  1.0
2   2022-01-03  53573.0         NaN         NaN         NaN         NaN  1.0
3   2022-01-04  56344.0         NaN         NaN         NaN         NaN  1.0
4   2022-01-05  57413.0         NaN         NaN         NaN         NaN  1.0
..         ...      ...         ...         ...         ...         ...  ...
208        NaT      NaN         NaN         NaN         NaN         NaN  nan
209        NaT      NaN         NaN         NaN         NaN         NaN  nan
210        NaT      NaN         NaN         NaN         NaN         NaN  nan
211        NaT      NaN         NaN         NaN         NaN         NaN  nan
212        NaT      NaN         NaN         NaN         NaN         NaN  nan

[213 rows x 7 columns]

In [12]:
# 요일별 코로나 환자 수 다중 시계열 데이터 시각ㅎ화

In [13]:
plt.figure(figsize=(15,12))
sns.barplot(data = df, x = df['요일'], y = df['대여건수'], order=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])
plt.show()

KeyError: '요일'