In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import RandomizedSearchCV
import matplotlib.font_manager as fm
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
plt.rc('font', family='NanumBarunGothic')
font_location = 'C:/Windows/Fonts/MALGUNSL.TTF' # for windows
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

In [4]:
%matplotlib inline
import matplotlib as mpl
mpl.rc('axes',labelsize = 16)
mpl.rc('xtick',labelsize = 12)
mpl.rc('ytick',labelsize = 12)

In [5]:
train = pd.read_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\train.csv',encoding = 'cp949')
test = pd.read_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\test.csv',encoding = 'cp949')

In [6]:
test = test.rename(columns={'ANONYMOUS_1' : '수치형데이터1','ANONYMOUS_2' : '수치형데이터2','COMPONENT_ARBITRARY':'샘플오일관련부품','AG':'은','CO':'일산화탄소','CR':'크로뮴','CU':'구리','FE':'철','H2O':'물','MN':'망가니즈','MO':'몰리브데넘','NI':'니켈','TI':'타이타늄','V':'바나듐','ZN':'아연','PQINDEX':'입자 정량 지수','V40':'점도 40도','YEAR':'진단년도'})
train = train.rename(columns={'ANONYMOUS_1' : '수치형데이터1','ANONYMOUS_2' : '수치형데이터2','COMPONENT_ARBITRARY':'샘플오일관련부품','AG':'은','CO':'일산화탄소','CR':'크로뮴','CU':'구리','FE':'철','H2O':'물','MN':'망가니즈','MO':'몰리브데넘','NI':'니켈','TI':'타이타늄','V':'바나듐','ZN':'아연','PQINDEX':'입자 정량 지수','V40':'점도 40도','YEAR':'진단년도'})

## 결측치가 많은 컬럼 제거

In [7]:
drop_columns=['FH2O','FNOX','FOPTIMETHGLY','FOXID','FSO4','FTBN','FUEL','SOOTPERCENTAGE','U100','U75','U50','U25','U20','U14','U6','U4','V100']

In [8]:
train = train.drop(columns=drop_columns)

In [9]:
test_columns_list = test.columns

In [10]:
train['Y_LABEL']

0        0
1        0
2        1
3        0
4        0
        ..
14090    0
14091    0
14092    0
14093    0
14094    0
Name: Y_LABEL, Length: 14095, dtype: int64

In [11]:
train[test_columns_list]

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14090,TRAIN_14090,COMPONENT3,1616,2014,200,0,0,0,3,23,0.0,0,0,0,35,0,0,135.4,16
14091,TRAIN_14091,COMPONENT1,2784,2013,200,0,0,0,2,12,0.0,0,224,0,9,0,0,117.5,1408
14092,TRAIN_14092,COMPONENT3,1788,2008,550,0,0,4,7,415,0.0,7,10,1,645,0,0,54.0,1301
14093,TRAIN_14093,COMPONENT2,2498,2009,550,0,0,0,170,19,0.0,0,1,0,11,0,0,44.3,652
14094,TRAIN_14094,COMPONENT2,1902,2012,200,0,0,0,110,10,0.0,0,0,0,81,2,0,47.0,612

In [12]:
train_test_col = train[test_columns_list]

In [13]:
train_test_col

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14090,TRAIN_14090,COMPONENT3,1616,2014,200,0,0,0,3,23,0.0,0,0,0,35,0,0,135.4,16
14091,TRAIN_14091,COMPONENT1,2784,2013,200,0,0,0,2,12,0.0,0,224,0,9,0,0,117.5,1408
14092,TRAIN_14092,COMPONENT3,1788,2008,550,0,0,4,7,415,0.0,7,10,1,645,0,0,54.0,1301
14093,TRAIN_14093,COMPONENT2,2498,2009,550,0,0,0,170,19,0.0,0,1,0,11,0,0,44.3,652
14094,TRAIN_14094,COMPONENT2,1902,2012,200,0,0,0,110,10,0.0,0,0,0,81,2,0,47.0,612

In [14]:
test

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TEST_0000,COMPONENT1,2192,2016,200,0,0,0,1,12,0.0,0,0,0,10,0,0,91.3,1091
1,TEST_0001,COMPONENT3,2794,2011,200,0,0,2,1,278,0.0,3,0,0,2732,1,0,126.9,12
2,TEST_0002,COMPONENT2,1982,2010,200,0,0,0,16,5,0.0,0,0,0,11,0,0,44.3,714
3,TEST_0003,COMPONENT3,1404,2009,200,0,0,3,4,163,0.0,4,3,0,8007,0,0,142.8,94
4,TEST_0004,COMPONENT2,8225,2013,200,0,0,0,6,13,0.0,0,0,0,16,0,0,63.4,469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

In [15]:
df = pd.concat([train_test_col,test])
df

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

# 피처 엔지니어링

In [16]:
from sklearn.preprocessing import StandardScaler # 스케일링 라이브러리
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import RobustScaler

In [17]:
num_attribss_list = df.drop(columns = ['ID','샘플오일관련부품']).columns

In [18]:
num_attribss_list_drop_mang = df.drop(columns = ['ID','샘플오일관련부품','타이타늄']).columns

In [19]:
num_attribss = df[num_attribss_list]
cat_attribs = df[['샘플오일관련부품']]
y = train['Y_LABEL']

num_attribss_mang = df[num_attribss_list_drop_mang]
# 변수별 타입 나누기

In [21]:
df

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

## 이상치 제거

In [22]:
q3 = df.quantile(0.75)  # df['국어'].quantile(0.75) 처럼 특정 열만 적용 가능
q1 = df.quantile(0.25)

iqr = q3 - q1

iqr

C:\Users\yoon9\AppData\Local\Temp\ipykernel_25200\764714985.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  q3 = df.quantile(0.75)  # df['국어'].quantile(0.75) 처럼 특정 열만 적용 가능
C:\Users\yoon9\AppData\Local\Temp\ipykernel_25200\764714985.py:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  q1 = df.quantile(0.25)

수치형데이터1     2149.25
진단년도           7.00
수치형데이터2      212.00
은              0.00
일산화탄소          0.00
크로뮴            3.00
구리            16.00
철            127.00
물              0.00
망가니즈           2.00
몰리브데넘          7.00
니켈             0.00
입자 정량 지수     166.00
타이타늄           0.00
바나듐            0.00
점도 40도        65.30
아연          1080.00
dtype: float64

In [57]:
train_out = train[test_columns_list]
train_out['Y_LABEL'] = train['Y_LABEL']
train_out

C:\Users\yoon9\AppData\Local\Temp\ipykernel_25200\1438212298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_out['Y_LABEL'] = train['Y_LABEL']

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연,Y_LABEL
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75,0
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652,0
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412,1
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7,0
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14090,TRAIN_14090,COMPONENT3,1616,2014,200,0,0,0,3,23,0.0,0,0,0,35,0,0,135.4,16,0
14091,TRAIN_14091,COMPONENT1,2784,2013,200,0,0,0,2,12,0.0,0,224,0,9,0,0,117.5,1408,0
14092,TRAIN_14092,COMPONENT3,1788,2008,550,0,0,4,7,415,0.0,7,10,1,645,0,0,54.0,1301,0
14093,TRAIN_14093,COMPONENT2,2498,2009,550,0,0,0,170,19,0.0,0,1,0,11,0,0,44.3,652,0
14094,TRAIN_14094,COMPONENT2,1902,2012,200,0,0,0,110,10,0.0,0,0,0,81,2,0,47.0,612,0

In [35]:
# '국어' 열에 대하여 이상치 여부를 판별해주는 함수

def remove_out(dataframe, remove_col):
    dff = dataframe
    for k in remove_col:
        level_1q = dff[k].quantile(0.25)
        level_3q = dff[k].quantile(0.75)
        IQR = level_3q - level_1q
        rev_range = 3  # 제거 범위 조절 변수
        dff = dff[(dff[k] <= level_3q + (rev_range * IQR)) & (dff[k] >= level_1q - (rev_range * IQR))]
        dff = dff.reset_index(drop=True)
    return dff

In [52]:
train_outlier = remove_out(train_out,num_attribss_list)

In [53]:
train_outlier

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연,Y_LABEL
0,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652,0
1,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412,1
2,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7,0
3,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128,0
4,TRAIN_00006,COMPONENT3,1416,2015,616,0,0,0,3,35,0.0,0,0,0,26,0,0,148.5,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6111,TRAIN_14085,COMPONENT2,4976,2013,200,0,0,0,14,3,0.0,0,0,0,7,0,0,44.0,651,0
6112,TRAIN_14087,COMPONENT1,1192,2014,200,0,0,0,0,9,0.0,0,0,0,11,0,0,106.2,1204,0
6113,TRAIN_14088,COMPONENT3,1311,2010,511,0,0,0,8,43,0.0,0,0,0,16,0,0,128.9,20,0
6114,TRAIN_14089,COMPONENT2,1552,2007,375,0,0,0,41,15,0.0,0,0,0,35,0,0,59.8,395,1
6115,TRAIN_14090,COMPONENT3,1616,2014,200,0,0,0,3,23,0.0,0,0,0,35,0,0,135.4,16,0

In [54]:
df_out = pd.concat([train_outlier,test])

## 스케일링

### StandardScaler

In [42]:
# 스탠다드 스케일러
def standard_scale(df):
    # 수치형 변수 스케일링
    sta_scaler = StandardScaler()
    sta_X_scale = sta_scaler.fit_transform(df)
    sta_X_scale = pd.DataFrame(sta_X_scale, columns=df.columns)
    return sta_X_scale  # 스케일링 데이터 프레임화

# MinMax scaler
def MM_scale(df):
    MM_scaler = MinMaxScaler()
    MM_X_scale = MM_scaler.fit_transform(df)
    MM_X_scale = pd.DataFrame(MM_X_scale, columns=df.columns)
    return MM_X_scale  # 스케일링 데이터 프레임화

# robust scaler
def robust_scale(df):
    robustScaler = RobustScaler()
    print(robustScaler.fit(df))
    train_data_robustScaled = robustScaler.transform(df)
    robust_X_scale = pd.DataFrame(train_data_robustScaled, columns=num_attribss.columns)
    return robust_X_scale

# 인코딩

In [41]:
# 원핫인코딩 함수 적용
def hot1_encoding(df):
    hot1_encoder = OneHotEncoder(sparse=False,drop='if_binary')
    X_1hot = hot1_encoder.fit_transform(df)
    X_1hot = pd.DataFrame(X_1hot, columns=hot1_encoder.get_feature_names())
    return X_1hot

# 라벨 인코딩
def label_encoding(df):
    X_label = df.copy()
    lab_encoder = LabelEncoder()  #순서가 있는 카테고리형
    for name in df.columns:
        X_label[name] = lab_encoder.fit_transform(df[name])
    X_label_ob = X_label.astype('object')
    return X_label_ob

# 데이터 프레임 합치기

In [40]:
def cocnat_df(df1,df2):
    df1 = df1.reset_index()
    df2 = df2.reset_index()
    df_all = pd.concat([df1,df2],axis=1)
    df_all = df_all.drop(columns=['index'])
    return df_all

In [ ]:
df_base = cocnat_df(num_attribss,label_encoding(cat_attribs))

In [ ]:
df_base

# 데이터 나누기

In [58]:
def split_train_test(df):

    train = df[:14095]
    test = df[14095:]
    return train, test

def split_train_test_out(df):

    train = df[:6116]
    test = df[6116:]
    return train, test

def split_train_val(df,y):

    X_train, X_val, y_train, y_val = train_test_split(df, y, test_size=0.3, shuffle=True, stratify=y, random_state=42)
    print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

    return X_train, X_val, y_train, y_val

## 모델 평가 함수

In [43]:
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [44]:
def model_eval(pred, answer):
    print(f'accuracy_score : {accuracy_score(pred,answer)}')
    print(f'recall_score : {recall_score(pred,answer)}')
    print(f'precision_score : {precision_score(pred,answer)}')
    print(f'f1_score : {f1_score(pred,answer)}')
    print(f'coufusion_matrix : ')
    print(confusion_matrix(pred,answer))

## 모델 학습 및 평가 함수

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
def pipeline_RF(X_train,X_val,y_train,y_val):
    model_rf = RandomForestClassifier(max_depth=10,n_estimators=100)
    model_rf.fit(X_train,y_train)
    print(model_rf)
    X_val_predicted = model_rf.predict(X_val)

    print(model_eval(X_val_predicted,y_val))

    return model_rf

# 예측 함수

In [47]:
def make_submission(model,test,submission):
    name = input(str)
    pred_test = model.predict(test)
    submission['Y_LABEL'] = pred_test
    print(submission)
    submission.to_csv(rf'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\submission_{name}.csv',index = False)
    print('Done')

## X_base Baseline 모델 (피쳐엔지니어링 X + Label Encoding)

In [ ]:
train_base, test_base = split_train_test(df_base)

In [ ]:
test_base

In [ ]:
X_train_base, X_val_base, y_train_base, y_val_base = split_train_val(train_base,y)

In [ ]:
model_base = pipeline_RF(X_train_base, X_val_base, y_train_base, y_val_base)

In [75]:
submission = pd.read_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\sample_submission.csv')

In [ ]:
make_submission(model_base,test_base,submission)

# 타겟 불균형 문제 해결

In [61]:
from imblearn.combine import SMOTEENN
from imblearn.combine import SMOTETomek

def add_smote_enn(train,y):
    smote_enn = SMOTEENN(random_state=42)
    X_resampled, y_resampled = smote_enn.fit_resample(train, y)

    return X_resampled,y_resampled

def add_smote_tomek(train,y):

    smote_tomek = SMOTETomek(random_state=42)
    X_resampled, y_resampled = smote_tomek.fit_resample(train, y)

    return X_resampled,y_resampled

In [ ]:
add_smote_enn(train_base,y)

In [ ]:
train

In [ ]:
#X_train_SME, X_val_SME, y_train_SME, y_val_SME = split_train_val(X_resampled, y_resampled)

#model_SMT = pipeline_RF(X_train_SME, X_val_SME, y_train_SME, y_val_SME)

In [ ]:
# make_submission(model_SMT,test_base,submission)

# 피쳐 엔지니어링 테스트

### smoteENN + Standard scaler + Label-encoding

In [ ]:
df_stand_1hot = cocnat_df(standard_scale(num_attribss),label_encoding(cat_attribs))
df_stand_1hot

In [ ]:
train_stand_1hot, test_stand_1hot = split_train_test(df_stand_1hot)

In [ ]:
train_stand_1hot, y_stand_1hot = add_smote_enn(train_stand_1hot,y)

In [ ]:
X_train_stand_1hot, X_val_stand_1hot, y_train_stand_1hot, y_val_stand_1hot = split_train_val(train_stand_1hot,y_stand_1hot)

In [ ]:
model_stand_1hot = pipeline_RF(X_train_stand_1hot, X_val_stand_1hot, y_train_stand_1hot, y_val_stand_1hot)

In [ ]:
make_submission(model_stand_1hot,test_stand_1hot,submission)

## smoteENN + Standard scaler + One-hot-encoding

In [ ]:
df_stand_1hot = cocnat_df(standard_scale(num_attribss),hot1_encoding(cat_attribs))
df_stand_1hot

In [ ]:
train_stand_1hot, test_stand_1hot = split_train_test(df_stand_1hot)

In [ ]:
train_stand_1hot, y_stand_1hot = add_smote_enn(train_stand_1hot,y)

In [ ]:
X_train_stand_1hot, X_val_stand_1hot, y_train_stand_1hot, y_val_stand_1hot = split_train_val(train_stand_1hot,y_stand_1hot)

In [ ]:
model_stand_1hot = pipeline_RF(X_train_stand_1hot, X_val_stand_1hot, y_train_stand_1hot, y_val_stand_1hot)

### minmax_scaler + label

In [ ]:
df_MM_1hot = cocnat_df(MM_scale(num_attribss),label_encoding(cat_attribs))
df_MM_1hot

In [ ]:
train_stand_MM, test_stand_MM = split_train_test(df_MM_1hot)

In [ ]:
train_stand_MM, y_stand_MM = add_smote_enn(train_stand_MM,y)

In [ ]:
X_train_stand_MM, X_val_stand_MM, y_train_stand_MM, y_val_stand_MM = split_train_val(train_stand_MM,y_stand_MM)

In [ ]:
model_stand_MM = pipeline_RF(X_train_stand_MM, X_val_stand_MM, y_train_stand_MM, y_val_stand_MM)

### robust + label

In [ ]:
df_ro_label = cocnat_df(robust_scale(num_attribss),label_encoding(cat_attribs))
df_ro_label

In [ ]:
train_ro_label, test_ro_label = split_train_test(df_ro_label)

In [ ]:
train_ro_label, y_ro_label = add_smote_enn(train_ro_label,y)

In [ ]:
X_train_ro_label, X_val_ro_label, y_train_ro_label, y_val_ro_label = split_train_val(train_ro_label,y_ro_label)

In [ ]:
model_ro_label = pipeline_RF(X_train_ro_label, X_val_ro_label, y_train_ro_label, y_val_ro_label)

### drop 타이타늄 / Stand+label+smoteENN

In [ ]:
df_stand_1hot = cocnat_df(standard_scale(num_attribss_mang),label_encoding(cat_attribs))
df_stand_1hot

In [ ]:
train_stand_1hot, test_stand_1hot = split_train_test(df_stand_1hot)

In [ ]:
train_stand_1hot, y_stand_1hot = add_smote_enn(train_stand_1hot,y)

In [ ]:
X_train_stand_1hot, X_val_stand_1hot, y_train_stand_1hot, y_val_stand_1hot = split_train_val(train_stand_1hot,y_stand_1hot)

In [ ]:
model_stand_1hot = pipeline_RF(X_train_stand_1hot, X_val_stand_1hot, y_train_stand_1hot, y_val_stand_1hot)

### 이상치 제거

In [68]:
num_attribss_out = df_out[num_attribss_list]
cat_attribs_out = df_out[['샘플오일관련부품']]
y_out = df_out[:6116]['Y_LABEL']

In [69]:
df_stand_out = cocnat_df(standard_scale(num_attribss_out),label_encoding(cat_attribs_out))
df_stand_out

,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연,샘플오일관련부품
0,-0.482645,1.762894,0.056225,-0.104458,-0.080683,-0.130910,0.082528,-0.245064,-0.051625,-0.223329,-0.297123,-0.108446,-0.190226,-0.076071,-0.086964,-1.473684,0.177580,1
1,-0.191775,0.212564,-0.358880,-0.104458,-0.080683,-0.064064,-0.181618,-0.241019,-0.051625,-0.223329,-0.297123,-0.108446,-0.191770,-0.076071,-0.086964,-0.808229,-0.286735,1
2,1.166708,-1.079378,-0.358880,-0.104458,-0.080683,-0.130910,-0.190727,-0.174283,-0.051625,-0.099998,-0.297123,-0.108446,-0.170932,-0.076071,-0.086964,0.604118,-1.070268,2
3,0.228552,0.212564,-0.358880,-0.104458,-0.080683,-0.130910,-0.199835,-0.105525,-0.051625,-0.223329,-0.297123,-0.108446,-0.037419,-0.076071,-0.086964,0.599465,-0.836175,2
4,-0.464619,0.212564,0.627885,-0.104458,-0.080683,-0.130910,-0.172510,-0.178328,-0.051625,-0.223329,-0.297123,-0.108446,-0.184824,-0.076071,-0.086964,0.957787,-1.037379,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12152,-0.383230,-0.045824,-0.358880,-0.104458,-0.080683,0.069629,0.984267,1.868243,-0.051625,7.793185,-0.187179,0.385608,1.337840,-0.076071,-0.086964,-0.840804,1.166184,2
12153,0.276893,0.470953,-0.358880,-0.104458,-0.080683,0.203321,-0.181618,1.239307,-0.051625,0.393326,-0.297123,-0.108446,0.329934,-0.076071,-0.086964,0.708823,-1.058660,2
12154,0.329878,-0.045824,-0.358880,-0.104458,-0.080683,-0.130910,-0.199835,-0.141926,-0.051625,-0.223329,-0.297123,-0.108446,-0.151639,-0.076071,-0.086964,4.534027,-1.058660,2
12155,-0.478821,-0.304213,-0.358880,-0.104458,-0.080683,-0.130910,0.364891,-0.245064,-0.051625,-0.223329,-0.297123,-0.108446,-0.201031,-0.076071,-0.086964,-1.308484,-0.159049,1
12156,-0.196691,0.470953,2.954847,7.734436,-0.080683,-0.130910,-0.199835,-0.241019,-0.051625,-0.223329,-0.253145,-0.108446,-0.194085,-0.076071,-0.086964,-0.636048,0.792798,0

In [59]:
train_stand_out, test_stand_out = split_train_test_out(df_stand_out)

In [72]:
train_stand_out, y_stand_out = add_smote_enn(train_stand_out,y_out)

In [73]:
X_train_stand_out, X_val_stand_out, y_train_stand_out, y_val_stand_out = split_train_val(train_stand_out,y_stand_out)

(6282, 18) (2693, 18) (6282,) (2693,)

In [74]:
model_stand_out = pipeline_RF(X_train_stand_out, X_val_stand_out, y_train_stand_out, y_val_stand_out)

RandomForestClassifier(max_depth=10)
accuracy_score : 0.902710731526179
recall_score : 0.8786999419616948
precision_score : 0.9661774090619017
f1_score : 0.9203647416413374
coufusion_matrix :
[[ 917   53]
 [ 209 1514]]
None

In [76]:
make_submission(model_stand_out,test_stand_out,submission)

             ID  Y_LABEL
0     TEST_0000      0.0
1     TEST_0001      0.0
2     TEST_0002      1.0
3     TEST_0003      0.0
4     TEST_0004      1.0
...         ...      ...
6036  TEST_6036      0.0
6037  TEST_6037      0.0
6038  TEST_6038      1.0
6039  TEST_6039      0.0
6040  TEST_6040      0.0

[6041 rows x 2 columns]
Done

# LightGBM

In [ ]:
import lightgbm as lgb

In [ ]:
X_train_stand_1hot['샘플오일관련부품'] = pd.to_numeric(X_train_stand_1hot['샘플오일관련부품'])
X_val_stand_1hot['샘플오일관련부품'] = pd.to_numeric(X_val_stand_1hot['샘플오일관련부품'])
test_stand_1hot['샘플오일관련부품'] = pd.to_numeric(test_stand_1hot['샘플오일관련부품'])

In [ ]:
train_data_plus = lgb.Dataset(X_train_stand_1hot, label=y_train_stand_1hot)
test_data_plus = lgb.Dataset(X_val_stand_1hot, label=y_val_stand_1hot)

In [ ]:
train_data_plus

In [ ]:
params = {
    "max_bin": 512,
    "learning_rate": 0.05,
    "boosting_type": "gbdt",
    "objective": "binary",
    "metric": ['auc',"binary_logloss"],
    "num_leaves": 10,
    "verbose": -1,
    "min_data": 100,
    "boost_from_average": True
}

In [ ]:
num_round = 4000

model = lgb.train(params, train_data_plus, num_round, valid_sets=[test_data_plus],early_stopping_rounds=50)

In [ ]:
# 예측
preds_proba = model.predict(X_val_stand_1hot)
preds = np.where(preds_proba > 0.5, 1, 0)

In [ ]:
model_eval(y_val_stand_1hot, preds)

In [ ]:
preds_proba = model.predict(test_stand_1hot)
test_preds = np.where(preds_proba > 0.5, 1, 0)

In [ ]:
submission['Y_LABEL'] = test_preds

In [ ]:
submission.to_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\submission_lightgbm_base.csv',index = False)