In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import RandomizedSearchCV
import matplotlib.font_manager as fm
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
plt.rc('font', family='NanumBarunGothic')
font_location = 'C:/Windows/Fonts/MALGUNSL.TTF' # for windows
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

In [3]:
%matplotlib inline
import matplotlib as mpl
mpl.rc('axes',labelsize = 16)
mpl.rc('xtick',labelsize = 12)
mpl.rc('ytick',labelsize = 12)

In [4]:
train = pd.read_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\train.csv',encoding = 'cp949')
test = pd.read_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\test.csv',encoding = 'cp949')

In [5]:
test = test.rename(columns={'ANONYMOUS_1' : '수치형데이터1','ANONYMOUS_2' : '수치형데이터2','COMPONENT_ARBITRARY':'샘플오일관련부품','AG':'은','CO':'일산화탄소','CR':'크로뮴','CU':'구리','FE':'철','H2O':'물','MN':'망가니즈','MO':'몰리브데넘','NI':'니켈','TI':'타이타늄','V':'바나듐','ZN':'아연','PQINDEX':'입자 정량 지수','V40':'점도 40도','YEAR':'진단년도'})
train = train.rename(columns={'ANONYMOUS_1' : '수치형데이터1','ANONYMOUS_2' : '수치형데이터2','COMPONENT_ARBITRARY':'샘플오일관련부품','AG':'은','CO':'일산화탄소','CR':'크로뮴','CU':'구리','FE':'철','H2O':'물','MN':'망가니즈','MO':'몰리브데넘','NI':'니켈','TI':'타이타늄','V':'바나듐','ZN':'아연','PQINDEX':'입자 정량 지수','V40':'점도 40도','YEAR':'진단년도'})

## 결측치가 많은 컬럼 제거

In [6]:
drop_columns=['FH2O','FNOX','FOPTIMETHGLY','FOXID','FSO4','FTBN','FUEL','SOOTPERCENTAGE','U100','U75','U50','U25','U20','U14','U6','U4','V100']

In [7]:
train = train.drop(columns=drop_columns)

In [8]:
test_columns_list = test.columns

In [9]:
train['Y_LABEL']

0        0
1        0
2        1
3        0
4        0
        ..
14090    0
14091    0
14092    0
14093    0
14094    0
Name: Y_LABEL, Length: 14095, dtype: int64

In [10]:
train[test_columns_list]

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14090,TRAIN_14090,COMPONENT3,1616,2014,200,0,0,0,3,23,0.0,0,0,0,35,0,0,135.4,16
14091,TRAIN_14091,COMPONENT1,2784,2013,200,0,0,0,2,12,0.0,0,224,0,9,0,0,117.5,1408
14092,TRAIN_14092,COMPONENT3,1788,2008,550,0,0,4,7,415,0.0,7,10,1,645,0,0,54.0,1301
14093,TRAIN_14093,COMPONENT2,2498,2009,550,0,0,0,170,19,0.0,0,1,0,11,0,0,44.3,652
14094,TRAIN_14094,COMPONENT2,1902,2012,200,0,0,0,110,10,0.0,0,0,0,81,2,0,47.0,612

In [11]:
train_test_col = train[test_columns_list]

In [12]:
train_test_col

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14090,TRAIN_14090,COMPONENT3,1616,2014,200,0,0,0,3,23,0.0,0,0,0,35,0,0,135.4,16
14091,TRAIN_14091,COMPONENT1,2784,2013,200,0,0,0,2,12,0.0,0,224,0,9,0,0,117.5,1408
14092,TRAIN_14092,COMPONENT3,1788,2008,550,0,0,4,7,415,0.0,7,10,1,645,0,0,54.0,1301
14093,TRAIN_14093,COMPONENT2,2498,2009,550,0,0,0,170,19,0.0,0,1,0,11,0,0,44.3,652
14094,TRAIN_14094,COMPONENT2,1902,2012,200,0,0,0,110,10,0.0,0,0,0,81,2,0,47.0,612

In [13]:
test

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TEST_0000,COMPONENT1,2192,2016,200,0,0,0,1,12,0.0,0,0,0,10,0,0,91.3,1091
1,TEST_0001,COMPONENT3,2794,2011,200,0,0,2,1,278,0.0,3,0,0,2732,1,0,126.9,12
2,TEST_0002,COMPONENT2,1982,2010,200,0,0,0,16,5,0.0,0,0,0,11,0,0,44.3,714
3,TEST_0003,COMPONENT3,1404,2009,200,0,0,3,4,163,0.0,4,3,0,8007,0,0,142.8,94
4,TEST_0004,COMPONENT2,8225,2013,200,0,0,0,6,13,0.0,0,0,0,16,0,0,63.4,469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

In [14]:
df = pd.concat([train_test_col,test])
df

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

# 피처 엔지니어링

In [15]:
from sklearn.preprocessing import StandardScaler # 스케일링 라이브러리
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import RobustScaler

In [16]:
num_attribss_list = df.drop(columns = ['ID','샘플오일관련부품']).columns

In [17]:
num_attribss = df[num_attribss_list]
cat_attribs = df[['샘플오일관련부품']]
y = train['Y_LABEL']

# 변수별 타입 나누기

In [18]:
df

,ID,샘플오일관련부품,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연
0,TRAIN_00000,COMPONENT3,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75
1,TRAIN_00001,COMPONENT2,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652
2,TRAIN_00002,COMPONENT2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412
3,TRAIN_00003,COMPONENT3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7
4,TRAIN_00004,COMPONENT3,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,TEST_6036,COMPONENT3,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163
6037,TEST_6037,COMPONENT3,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13
6038,TEST_6038,COMPONENT3,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13
6039,TEST_6039,COMPONENT2,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478
6040,TEST_6040,COMPONENT1,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970

## 이상치 제거

In [19]:
df['수치형데이터1'] = df['수치형데이터1'].apply(lambda x: 10000 if x > 10000 else x)

## 스케일링

### StandardScaler

In [20]:
# 스탠다드 스케일러
def standard_scale(df):
    # 수치형 변수 스케일링
    sta_scaler = StandardScaler()
    sta_X_scale = sta_scaler.fit_transform(df)
    sta_X_scale = pd.DataFrame(sta_X_scale, columns=df.columns)
    return sta_X_scale  # 스케일링 데이터 프레임화

# MinMax scaler
def MM_scale(df):
    MM_scaler = MinMaxScaler()
    MM_X_scale = MM_scaler.fit_transform(df)
    MM_X_scale = pd.DataFrame(MM_X_scale, columns=df.columns)
    return MM_X_scale  # 스케일링 데이터 프레임화

# robust scaler
def robust_scale(df):
    robustScaler = RobustScaler()
    print(robustScaler.fit(df))
    train_data_robustScaled = robustScaler.transform(df)
    robust_X_scale = pd.DataFrame(train_data_robustScaled, columns=num_attribss.columns)
    return robust_X_scale

# 인코딩

In [21]:
# 원핫인코딩 함수 적용
def hot1_encoding(df):
    hot1_encoder = OneHotEncoder(sparse=False,drop='if_binary')
    X_1hot = hot1_encoder.fit_transform(df)
    X_1hot = pd.DataFrame(X_1hot, columns=hot1_encoder.get_feature_names())
    return X_1hot

# 라벨 인코딩
def label_encoding(df):
    X_label = df.copy()
    lab_encoder = LabelEncoder()  #순서가 있는 카테고리형
    for name in df.columns:
        X_label[name] = lab_encoder.fit_transform(df[name])
    X_label_ob = X_label.astype('object')
    return X_label_ob

# 데이터 프레임 합치기

In [25]:
def cocnat_df(df1,df2):
    df1 = df1.reset_index()
    df2 = df2.reset_index()
    df_all = pd.concat([df1,df2],axis=1)
    df_all = df_all.drop(columns=['index'])
    return df_all

In [30]:
df_base = cocnat_df(num_attribss,label_encoding(cat_attribs))

In [31]:
df_base

,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연,샘플오일관련부품
0,1486,2011,200,0,0,13,78,888,0.0,16,1,6,8504,5,0,154.0,75,2
1,1350,2021,375,0,0,0,31,2,0.0,0,0,0,19,0,0,44.0,652,1
2,2415,2015,200,0,0,1,2,4,0.0,0,0,0,17,0,0,72.6,412,1
3,7389,2010,200,0,0,0,1,37,0.0,1,0,0,44,0,0,133.3,7,2
4,3954,2015,200,0,0,0,0,71,0.0,0,0,0,217,0,0,133.1,128,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20131,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163,2
20132,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13,2
20133,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13,2
20134,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478,1
20135,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970,0

# 데이터 나누기

In [116]:
def split_train_test(df):

    train = df[:14095]
    test = df[14095:]
    return train, test

def split_train_val(df,y):

    X_train, X_val, y_train, y_val = train_test_split(df, y, test_size=0.3, shuffle=True, stratify=y, random_state=42)
    print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

    return X_train, X_val, y_train, y_val

## 모델 평가 함수

In [111]:
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [112]:
def model_eval(pred, answer):
    print(f'accuracy_score : {accuracy_score(pred,answer)}')
    print(f'recall_score : {recall_score(pred,answer)}')
    print(f'precision_score : {precision_score(pred,answer)}')
    print(f'f1_score : {f1_score(pred,answer)}')
    print(f'coufusion_matrix : ')
    print(confusion_matrix(pred,answer))

## 모델 학습 및 평가 함수

In [113]:
from sklearn.ensemble import RandomForestClassifier

In [114]:
def pipeline_RF(X_train,X_val,y_train,y_val):
    model_rf = RandomForestClassifier(max_depth=10,n_estimators=100)
    model_rf.fit(X_train,y_train)
    print(model_rf)
    X_val_predicted = model_rf.predict(X_val)

    print(model_eval(X_val_predicted,y_val))

    return model_rf

# 예측 함수

In [115]:
def make_submission(model,test,submission):
    name = input(str)
    pred_test = model.predict(test)
    submission['Y_LABEL'] = pred_test
    print(submission)
    submission.to_csv(rf'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\submission_{name}.csv',index = False)
    print('Done')

## X_base Baseline 모델 (피쳐엔지니어링 X + Label Encoding)

In [87]:
train_base, test_base = split_train_test(df_base)

In [88]:
test_base

,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연,샘플오일관련부품
14095,2192,2016,200,0,0,0,1,12,0.0,0,0,0,10,0,0,91.3,1091,0
14096,2794,2011,200,0,0,2,1,278,0.0,3,0,0,2732,1,0,126.9,12,2
14097,1982,2010,200,0,0,0,16,5,0.0,0,0,0,11,0,0,44.3,714,1
14098,1404,2009,200,0,0,3,4,163,0.0,4,3,0,8007,0,0,142.8,94,2
14099,8225,2013,200,0,0,0,6,13,0.0,0,0,0,16,0,0,63.4,469,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20131,1714,2014,200,0,0,3,130,1047,0.0,65,5,2,1999,0,0,71.2,1163,2
20132,4131,2016,200,0,0,5,2,736,0.0,5,0,0,693,0,0,137.8,13,2
20133,4325,2014,200,0,0,0,0,53,0.0,0,0,0,69,0,0,302.2,13,2
20134,1364,2013,200,0,0,0,62,2,0.0,0,0,0,5,0,0,51.1,478,1
20135,2397,2016,1597,1,0,0,0,4,0.0,0,2,0,14,0,0,80.0,970,0

In [89]:
X_train_base, X_val_base, y_train_base, y_val_base = split_train_val(train_base,y)

(11276, 18) (2819, 18) (11276,) (2819,)

In [90]:
model_base = pipeline_RF(X_train_base, X_val_base, y_train_base, y_val_base)

RandomForestClassifier(max_depth=10)
accuracy_score : 0.9152181624689606
recall_score : 0.75
precision_score : 0.012448132780082987
f1_score : 0.02448979591836735
coufusion_matrix :
[[2577  238]
 [   1    3]]
None

In [120]:
submission = pd.read_csv(r'C:\Users\yoon9\PycharmProjects\Sejong_Project\data\construct_Oil_data\sample_submission.csv')

In [96]:
make_submission(model_base,test_base,submission)

             ID  Y_LABEL
0     TEST_0000        0
1     TEST_0001        0
2     TEST_0002        0
3     TEST_0003        0
4     TEST_0004        0
...         ...      ...
6036  TEST_6036        0
6037  TEST_6037        0
6038  TEST_6038        0
6039  TEST_6039        0
6040  TEST_6040        0

[6041 rows x 2 columns]
Done

# 타겟 불균형 문제 해결

In [126]:
from imblearn.combine import SMOTEENN
from imblearn.combine import SMOTETomek

def add_smote_enn(train,y):
    smote_enn = SMOTEENN(random_state=42)
    X_resampled, y_resampled = smote_enn.fit_resample(train, y)

    return X_resampled,y_resampled

def add_smote_tomek(train,y):

    smote_tomek = SMOTETomek(random_state=42)
    X_resampled, y_resampled = smote_tomek.fit_resample(train, y)

    return X_resampled,y_resampled

In [ ]:
add_smote_enn(train,y)

In [123]:
X_train_SME, X_val_SME, y_train_SME, y_val_SME = split_train_val(X_resampled, y_resampled)

model_SMT = pipeline_RF(X_train_SME, X_val_SME, y_train_SME, y_val_SME)

(12932, 18) (5543, 18) (12932,) (5543,)
RandomForestClassifier(max_depth=10)
accuracy_score : 0.827530218293343
recall_score : 0.8065821418937146
precision_score : 0.9259832765562094
f1_score : 0.8621683967704729
coufusion_matrix :
[[1597  239]
 [ 717 2990]]
None

In [121]:
make_submission(model_SMT,test_base,submission)

             ID  Y_LABEL
0     TEST_0000        0
1     TEST_0001        0
2     TEST_0002        1
3     TEST_0003        0
4     TEST_0004        1
...         ...      ...
6036  TEST_6036        0
6037  TEST_6037        0
6038  TEST_6038        1
6039  TEST_6039        0
6040  TEST_6040        0

[6041 rows x 2 columns]
Done

# 피쳐 엔지니어링 테스트

### smoteENN + Standard scaler + One-hot-encoding

In [125]:
df_stand_1hot = cocnat_df(standard_scale(num_attribss),label_encoding(cat_attribs))
df_stand_1hot

,수치형데이터1,진단년도,수치형데이터2,은,일산화탄소,크로뮴,구리,철,물,망가니즈,몰리브데넘,니켈,입자 정량 지수,타이타늄,바나듐,점도 40도,아연,샘플오일관련부품
0,-0.379987,-0.668748,-0.341059,-0.149807,-0.096143,0.366670,0.311033,1.202754,-0.0441,1.171823,-0.384823,1.170325,4.985286,0.605756,-0.109985,0.915670,-0.962299,2
1,-0.410821,1.851308,-0.025252,-0.149807,-0.096143,-0.122537,-0.032219,-0.311592,-0.0441,-0.258298,-0.401334,-0.173878,-0.255810,-0.104342,-0.109985,-1.357880,0.123421,1
2,-0.169362,0.339274,-0.341059,-0.149807,-0.096143,-0.084906,-0.244013,-0.308173,-0.0441,-0.258298,-0.401334,-0.173878,-0.257045,-0.104342,-0.109985,-0.766757,-0.328178,1
3,0.958355,-0.920754,-0.341059,-0.149807,-0.096143,-0.122537,-0.251316,-0.251770,-0.0441,-0.168915,-0.401334,-0.173878,-0.240368,-0.104342,-0.109985,0.487829,-1.090252,2
4,0.179564,0.339274,-0.341059,-0.149807,-0.096143,-0.122537,-0.258619,-0.193657,-0.0441,-0.258298,-0.401334,-0.173878,-0.133507,-0.104342,-0.109985,0.483695,-0.862570,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20131,-0.328294,0.087268,-0.341059,-0.149807,-0.096143,-0.009643,0.690801,1.474515,-0.0441,5.551570,-0.318780,0.274190,0.967215,-0.104342,-0.109985,-0.795693,1.084950,2
20132,0.219694,0.591280,-0.341059,-0.149807,-0.096143,0.065619,-0.244013,0.942956,-0.0441,0.188615,-0.401334,-0.173878,0.160513,-0.104342,-0.109985,0.580838,-1.078962,2
20133,0.263678,0.087268,-0.341059,-0.149807,-0.096143,-0.122537,-0.258619,-0.224423,-0.0441,-0.258298,-0.401334,-0.173878,-0.224925,-0.104342,-0.109985,3.978762,-1.078962,2
20134,-0.407647,-0.164737,-0.341059,-0.149807,-0.096143,-0.122537,0.194181,-0.311592,-0.0441,-0.258298,-0.401334,-0.173878,-0.264457,-0.104342,-0.109985,-1.211133,-0.203988,1
20135,-0.173443,0.591280,2.179983,5.585000,-0.096143,-0.122537,-0.258619,-0.308173,-0.0441,-0.258298,-0.368313,-0.173878,-0.258898,-0.104342,-0.109985,-0.613809,0.721790,0